.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: $indent;
    row-gap: 57px;
  }
}

.features-list__item {
  @include flex-basis(1);

  @media screen and (min-width: 768px) {
    @include flex-basis(2);
  }

  @media screen and (min-width: 1200px) {
    @include flex-basis(4);
  }
}

.features__thumb {
  @include centeredFlex();
  min-width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: $background-secondary-color;
  border-radius: 4px;
}

.features__subtitle {
  margin-bottom: 10px;
  color: $color-text-title;
  @include fonts(14px, 16px, null);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
