// .footer {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background-color: $background-footer-hero-color;
// }

// .container--baseline {
//     display: flex;
//     align-items: baseline;
// }

// .footer__thumb {
//     width: 231px;
//     margin-right: 70px;
// }

// .footer__logo {
//     display: inline-block;
//     margin-bottom: 20px;
//     color: $color-white;
//     transition: color 250ms $timing-function;
// }

// // .logo:hover,
// // .logo:focus {
// //     color: $color-accent;
// // }

// .address__contacts {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     font-style: normal;
// }

// .address__item:not(:last-child) {
//     margin-bottom: 9px;
// }

// .address__map-link {
//     color: $color-white;
//     transition: color 250ms $timing-function;

//     &:hover,
//     &:focus {
//             color: $color-accent;
//         }
// }

// .address__contact-link {
//     color: $color-footer-contacts;
//     transition: color 250ms $timing-function;

//     &:hover,
//     &:focus {
//             color: $color-accent;
//         }
// }

// .social--right {
//     margin-right: 93px;
// }

// .social__subtitle {
//     margin-bottom: 20px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $color-white;
// }

// .social__link--mode-dark {
//     fill: $color-white;
//     background-color: $background-social-link;
//     transition: background-color 250ms $timing-function;
// }

// /* Footer form */

// .footer-form__subtitle {
//     display: inline-block;
//     margin-bottom: 20px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $color-white;
// }

// .footer-form__field {
//     @include centeredFlex ();
// }

// .footer-form__input {
//     margin-right: 12px;
//     padding: 15px 16px;
//     min-width: 358px;
//     align-items: center;
//     background-color: $color-transparent;
//     @include bordered ($color-border-footer-form);
//     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
//     border-radius: 4px;
//     font-size: 16px;
//     line-height: 1.25;
//     color: $color-footer-contacts;

//     &::placeholder {
//             font-size: 16px;
//             line-height: 1.25;
//             color: $color-footer-contacts;
//         }
// }

// .form-btn {
//     align-items: center;
//     text-align: center;
//     min-width: 200px;
//     background-color: $color-accent;
//     border-radius: 4px;
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
//     border: none;
//     color: $color-white;
//     cursor: pointer;
// }

// .footer-form__form-btn {
//     display: flex;
//     padding: 10px 28px;
//     transition: box-shadow 250ms $timing-function;

//     &:hover,
//     &:focus {
//             box-shadow: $box-shadow-main;
//         }
// }
