.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-footer-hero-color;
}

.container--baseline {
  text-align: center;

  @media screen and (min-width: 768px) {
    @include centeredFlex(flex, baseline, center);
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer__thumb {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    width: 231px;
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: $color-white;
  transition: color 250ms $timing-function;
}

// // .logo:hover,
// // .logo:focus {
// //     color: $color-accent;
// // }

.address__contacts {
  @include fonts(14px, 24px, 0.03em, 400);
  font-style: normal;
}

.address__item:not(:last-child) {
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__map-link {
  color: $color-white;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.address__contact-link {
  color: $color-footer-contacts;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.social--right {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.social__subtitle {
  margin-bottom: 20px;
  @include fonts(14px, 16px);
  text-transform: uppercase;
  color: $color-white;
}

.social__link--mode-dark {
  fill: $color-white;
  background-color: $background-social-link;
  transition: background-color 250ms $timing-function;
}

/* Footer form */

.footer-form__subtitle {
  display: inline-block;
  margin-bottom: 20px;
  @include fonts(14px, 16px);
  text-transform: uppercase;
  color: $color-white;
}

.footer-form__field {
  @include centeredFlex();

  @media screen and (max-width: 1199.98px) {
    flex-direction: column;
    gap: 20px;
  }
}

.footer-form__input {
  width: 100%;
  padding: 15px 16px;
  // align-items: center;
  background-color: $color-transparent;
  @include bordered($color-border-footer-form);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include fonts(16px, 20px, 0.03em, 400);
  color: $color-footer-contacts;

  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  &::placeholder {
    @include fonts(16px, 20px, 0.03em, 400);
    color: $color-footer-contacts;
  }
}

.form-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
  background-color: $color-accent;
  border-radius: 4px;
  font-family: inherit;
  @include fonts(16px, 30px, 0.06em);
  border: none;
  color: $color-white;
  cursor: pointer;
}

.footer-form__form-btn {
  display: flex;
  padding: 10px 28px;
  transition: box-shadow 250ms $timing-function;

  &:hover,
  &:focus {
    box-shadow: $box-shadow-main;
  }
}
