.header {
  border-bottom: 1px solid $color-border-header;
}

.header__container {
  @include centeredFlex();
}

.header__nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-right: auto;
  }
}

.nav__list {
  display: flex;
  gap: 50px;
  @include fonts(14px, 16px, 0.02em, 500);
}

.nav__link {
  display: block;
  color: $color-text-title;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.nav__link--current {
  position: relative;
  color: $color-accent;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $color-accent;
  }
}

.header-contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    @include fonts(12px, 14px, 0.02em, 500);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    @include fonts(14px, 16px, 0.02em, 500);
  }
}

.header-contacts__item + .header-contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-top: 10px;
  }
}

.icon-letter {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.icon-phone {
  fill: currentColor;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header-contacts__link {
  @include centeredFlex(inline-flex, center, null);
  color: $color-text-primary;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
