// .team {
//   background-color: $background-secondary-color;
// }

// .team__list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: $indent;
//   text-align: center;
// }

// .team__item {
//   @include flex-basis(4);
//   background-color: $color-white;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .team__wrapper {
//   padding-top: 30px;
//   padding-bottom: 30px;
//   padding-left: 32px;
//   padding-right: 32px;
// }

// .team__subtitle {
//   margin-bottom: 10px;

//   color: $color-text-title;

//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
// }

// .team__description {
//   margin-bottom: 16px;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
// }

// .social__list {
//   display: flex;
//   gap: 10px;
//   justify-content: center;
// }

// .social__link {
//   @include centeredFlex(inline-flex);
//   width: 44px;
//   height: 44px;
//   border-radius: 50%;
//   justify-content: center;

//   &:hover,
//   &:focus {
//     background-color: $color-accent;
//     color: $color-white;
//   }
// }

// .social__link--mode-light {
//   color: $color-link-icon;
//   transition: color 250ms $timing-function, background-color 250ms $timing-function;
// }

// .social__icon {
//   fill: currentColor;
// }
