.works {
  @media screen and (max-width: 1199.98px) {
    display: none;
  }
  padding-top: 0;
}

.works__list {
  display: flex;
  gap: $indent;
}

.section__title {
  margin-bottom: 30px;
  color: $color-text-title;
  text-align: center;
  @include fonts(28px, 33px);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include fonts(36px, 42px);
  }
}

.works__thumb {
  position: relative;
}

.works__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  @include fonts(14px, 16px);
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  background-color: $background-works;
}
