.works {
  @media screen and (max-width: 1199.98px) {
    display: none;
  }
  padding-top: 0;
}

.works__list {
  display: flex;
  gap: $indent;
}

.works__thumb {
  position: relative;
}

.works__subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  @include fonts(14px, 16px);
  text-align: center;
  text-transform: uppercase;
  color: $color-white;
  background-color: $background-works;
}
