// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: $background-backdrop;
//   opacity: 1;
//   transition: opacity 250ms $timing-function, visibility 250ms $timing-function;
// }

// .backdrop--is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }

// .backdrop--is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0.8);
// }

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   min-width: 528px;
//   min-height: 581px;
//   padding: 40px;
//   background-color: $color-white;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   transition: opacity 250ms $timing-function, transform 250ms $timing-function,
//     visibility 250ms $timing-function;
// }

// .modal__btn-close {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   @include centeredFlex();
//   justify-content: center;
//   width: 30px;
//   height: 30px;
//   padding: 0;
//   border-radius: 50%;
//   color: $color-black;
//   background-color: $color-white;
//   @include bordered($color-border-modal-btn-close);
//   cursor: pointer;
//   transition: color 250ms $timing-function;

//   &:hover,
//   &:focus {
//     color: $color-accent;
//   }
// }

// .modal__close-icon {
//   fill: currentColor;
// }

// /* Modal form */

// .modal-form {
//   text-align: center;
// }

// .modal-form__title {
//   display: block;
//   margin-bottom: 12px;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: $color-text-title;
// }

// .modal-form__list {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   margin-bottom: 20px;
// }

// .modal-form__field {
//   /* position: relative; */
//   display: flex;
//   flex-direction: column;
//   text-align: left;
//   color: $color-text-title;
// }

// .modal-form__label {
//   margin-bottom: 4px;
//   font-size: 12px;
//   line-height: 1.16;
//   letter-spacing: 0.01em;
//   color: $color-text-primary;
// }

// .modal-form__wrapper {
//   position: relative;
// }

// .modal-form__input {
//   width: 100%;
//   padding: 11px 42px;
//   @include bordered($color-border-modal-form-input);
//   border-radius: 4px;
//   color: $color-modal-form-input;
//   outline: $color-transparent;
//   transition: border-color 250ms $timing-function;

//   .modal-form__field:focus-within & {
//     border-color: $color-accent;
//   }
// }

// .modal-form__icon {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   left: 12px;
//   fill: currentColor;
//   transition: color 250ms $timing-function;

//   .modal-form__field:focus-within & {
//     color: $color-accent;
//   }
// }

// .modal-form__comment {
//   padding: 12px 16px;
//   height: 120px;
//   @include bordered($color-border-modal-form-input);
//   border-radius: 4px;
//   outline: none;
//   resize: none;
//   color: $color-modal-form-comment;
//   transition: border-color 250ms $timing-function;

//   &::placeholder {
//     font-size: 12px;
//     line-height: 1.16;
//     letter-spacing: 0.01em;
//     color: $color-modal-form-comment;
//   }

//   .modal-form__field:focus-within > & {
//     border-color: $color-accent;
//   }
// }

// .modal-form__checkbox-field {
//   @include centeredFlex();
//   justify-content: center;
//   margin-bottom: 30px;
// }

// .modal-form__checkbox {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

// .modal-form__checkbox-icon {
//   @include centeredFlex();
//   width: 16px;
//   height: 15px;
//   margin-right: 7px;
//   @include bordered($color-text-title);
//   border-radius: 2px;

//   .modal-form__checkbox-field:focus-within & {
//     border-color: $color-accent;
//   }
// }

// .modal-form__checkbox:checked + .modal-form__checkbox-icon {
//   transform: scale(1.2);
//   border-color: $color-transparent;
//   background-color: $color-accent;
// }

// .modal-form__policy-text {
//   user-select: none;
// }

// .modal-form__policy-link {
//   color: $color-accent;
//   text-underline-position: under;
// }

// .modal-form__form-btn {
//   padding: 10px 52px;
//   display: inline-flex;
//   box-shadow: $box-shadow-main;
//   transition: background-color 250ms $timing-function;

//   &:hover,
//   &:focus {
//     background-color: $color-btn-hover;
//     box-shadow: $box-shadow-main;
//   }
// }
